# Dependencias
node_modules/

# Variables de entorno (¡MUY IMPORTANTE!)
node_modules/
dist/
build/
out/
*.zip
*.rar
*.7z
*.mp4
*.mov
*.exe
*.bin
*.iso
*.glb
*.gltf
*.fbx
*.obj
*.stl

.env
.env.local
.env.*.local

# Build outputs
dist/
.vercel/

# Logs
npm-debug.log*
yarn-error.log*
